	# ============================================================
	# Core test framework dependencies
	# ============================================================

	pytest==8.4.1
	playwright==1.54.0
	pytest-playwright==0.7.0


	# ============================================================
	# Reporting
	# ============================================================

	allure-pytest==2.15.0


	# ============================================================
	# Test execution support
	# ============================================================

	pytest-timeout==2.4.0
	pytest-rerunfailures==15.1


	# ============================================================
	# API / external integrations
	# Required later for TestRail integration
	# ============================================================

	requests==2.32.4


	asciidoc==10.2.1
